
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
<link href="~/Asset/Client/css/Register.css" rel="stylesheet" type="text/css" />
<link href="~/Asset/Client/themify-icons/themify-icons.css" rel="stylesheet" type="text/css" />
<div class="body-info">
    <div class="register-form">
        <p class="register-content">Quà Vặt Việt Register</p>
        <div class="user-name">
            <i class="ti-user"></i>
            <input type="text" name="name" value="User name">
            <div class="login-line"></div>
        </div>
        <div class="password">
            <i class="ti-lock"></i>
            <input type="password" name="password" value="password">
            <div class="register-line"></div>
        </div>
        <div class="confirm-password">
            <i class="ti-lock"></i>
            <input type="password" name="password" value="password">
            <div class="register-line"></div>
        </div>
        <div class="remember">
            <span class="checkbox-login">
                <label for="" class="checkbox-lb">
                    <input type="checkbox" name="checked ">
                </label>
                <p>Accept rules and condtions</p>
            </span>
        </div>
        <input type="submit" value="Login">
        <div class="copyright">
            <p>© 2021 Qua An Vat Login Form. All rights reserved | Design by Grop-7</p>
        </div>
    </div>
</div>


